# Upstreams
RPC_HTTP_UPSTREAMS=
RPC_GRPC_UPSTREAMS=

# Local listeners
LISTEN_HTTP_PORT=8899
LISTEN_GRPC_PORT=10000
LISTEN_HTTP_TLS_ENABLE=false
LISTEN_HTTP_TLS_PORT=8443
LISTEN_GRPC_TLS_ENABLE=false
LISTEN_GRPC_TLS_PORT=10001

# Stats and admin
STATS_PORT=8404
STATS_USER=admin
STATS_PASS=admin
ADMIN_SOCKET_TCP=true
ADMIN_SOCKET_PORT=9999

# Health thresholds
HEALTH_RISE=2
HEALTH_FALL=3

# Performance
MAXCONN=30000
ULIMIT_N=65000

# Inbound TLS
TLS_CERT_FILE=/etc/haproxy/certs/server.pem
TLS_CLIENT_CA_FILE=
TLS_CLIENT_VERIFY=none
TLS_MIN_VER=TLSv1.2

# Upstream TLS
RPC_HTTP_UPSTREAMS_TLS=false
RPC_HTTP_UPSTREAMS_VERIFY=none
RPC_GRPC_UPSTREAMS_TLS=false
RPC_GRPC_UPSTREAMS_VERIFY=none

# Balancing and HTTP mode
RPC_HTTP_BALANCE=roundrobin
RPC_GRPC_BALANCE=roundrobin
RPC_HTTP_ENABLE_HTTP_MODE=false
RPC_HTTP_HEALTH_HTTP=false
RPC_HTTP_HEALTH_HOST=localhost

